name: Test Dev Environment
on:
  workflow_call: 
    inputs:
      test-platforms:
        type: string
        default: '["ubuntu-22.04", "ubuntu-22.04-arm", "ubuntu-24.04", "ubuntu-24.04-arm", "debian-latest"]'
        description: |
          The platforms to run fast tests on, as a JSON array.
      use-lxd:
        type: boolean
        description: |
          Whether to set up LXD on Linux runners.
        default: true
jobs:
  test:
    name: Test Environment
    strategy:
      matrix:
        platform: ${{ fromJson(inputs.test-platforms) }}

    runs-on: "${{ matrix.platform }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Run make setup
        run: |
          make setup
      - name: Run make lint
        run: |
          make lint
      - name: Run make format
        run: |
          make format
      - name: Run make test
        run: |
          make test
      - name: Run make docs
        run: |
          make docs
